.headuser .user-action {
    margin: 0px;
    padding: 0px;
    float: left;
}

.headuser .user-action .act {
    margin-left: 29px;
}

.headuser .user-action .act:last-child{
    /*padding-left: 15px;*/
}
.user-action .act a {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    font-size: 16px;
    line-height: 38px;
    /* identical to box height, or 150% */
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
}
.headbot_menuitem .headtop_menu li.li-menu-acc {
    line-height: normal;
}
.user-action .act a.box_info_fist {
    font-weight: 400;
    border: 0;
    border-radius: 0;
    background: transparent;
    text-align: left;
}
.user-action .ic_cart {
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right: 0px;
    background-image: url(/v2/images/icons/ic-giohang.png);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: 0px;
}

.act #c_cartcount {
    margin-right: 0px;
}

.ic-thongbao {
    display: inline-block;
    width: 13px;
    height: 16px;
    background-image: url(/v2/images/icons/ic-thongbao.png);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: -2px;
}

.ic_user {
    vertical-align: -2px;
}
.ic-show-menu-manager img{
    margin-top: -5px;
}
.kpbf_img {
    overflow: hidden;
}

.ic-pencil {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('/v2/images/icons/ic-edit.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#c_cartcount {
    position: relative;
}

#c_cartcount .add-to-cart-success {
    cursor: default;
    display: none;
    position: absolute;
    background: #fff;
    -webkit-box-shadow: 1px 1px 15px #b3b3b3;
    box-shadow: 1px 1px 15px #b3b3b3;
    right: -10px;
    padding: 10px 15px;
    z-index: 9999;
    top: calc(100%);
    border-radius: 6px;
    width: 255px;
}

#c_cartcount .add-to-cart-success:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: -4px;
    right: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
    -webkit-box-shadow: -1px -1px 0 #dfdfdf;
    box-shadow: -1px -1px 0 #dfdfdf;
    z-index: -1;
}
#c_cartcount .add-to-cart-success .close {
    background: url('/ver1/css/images/i_close.png') no-repeat scroll left center;
    display: inline-block;
    font-size: 0;
    height: 20px;
    opacity: 1;
    position: absolute;
    right: 5px;
    top: 5px;
    vertical-align: middle;
    width: 20px;
    background-size: cover;
}
.ic-circle-tick{
    background: url('/ver1/images/b2bmarket/ic-check.png') no-repeat;
    background-size: cover;
    width: 12px;
    height: 12px;
    cursor: pointer;

}
.add-to-cart-success p{
    margin-bottom: 0px;
    line-height: 20px;
}
.btn-view-cart{
    background-color: rgb(77, 127, 253);
    font-size: 15px;
    font-family: "Sarabun";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    border-radius: 0px;
    height: 44px;
    margin-top: 10px;
    width: 100%;
}
.btn-view-cart:hover{
    background-color: rgb(62, 103, 205);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 991px){
    .home_headtop .container{
        overflow: unset;
    }
}
.info-acc-menu-mb{
    background: #eceff1;
    float: left;
    width: 100%;
    padding: 15px 15px 20px;
    border-bottom: 1px solid #d1d1d1;
}
.img-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.name-email-acc{
    float: left;
    width: calc(100% - 50px);
    margin-bottom: 15px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-email-acc h3{
    font-family: "Sarabun";
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.name-email-acc .user-name{
    font-family: "Sarabun";
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.name-email-acc h5{
    font-family: "Sarabun";
    font-size: 12px;
    color: #999999;
    line-height: 22px;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.name-email-acc .user-info{
    font-family: "Sarabun";
    font-size: 12px;
    color: #999999;
    line-height: 22px;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 0px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box_info_all .link-mana-vietid{
    width: 100%;
    float: left;
    border-width: 1px;
    border-color: rgb(77, 127, 253);
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    height: 30px;
    line-height: 30px;
    font-size: 13px ;
    color: rgb(85, 85, 85);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box_info_all .link-mana-vietid span{margin-right: 5px;}
.box_info_all .link-mana-vietid img{width: 55px;}
.box_info_all .link-mana-vietid:hover{
    color: rgb(66, 109, 217);
    text-decoration: none;
}

.box-info-acc .link-mana-vietid{
    width: 100%;
    float: left;
    border-width: 1px;
    border-color: rgb(77, 127, 253);
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    line-height: 45px;
    font-size: 14px ;
    color: #555;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-info-acc .link-mana-vietid span{margin-right: 5px;}
.box-info-acc .link-mana-vietid img{width: 75px;}
.box-info-acc .link-mana-vietid:hover{color: rgb(66, 109, 217);}

[v-cloak] > * { display:none; }
[v-cloak]::before { content: "loading..."; }

/**
*  Style hotfix banner 
*/

.bfweb-banner {
    float: left;
    width: 100%;
    height: 100%;
    padding: 100px 0 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* background: transparent url('../images/bg---banner.jpg') no-repeat center center; */
    background-size: cover;
}
.home_banner_box .bfweb_banner_img img {
    max-width: none !important;
    margin-left: -140px;
}
.bfweb_banner_left {
    width: 100%;

}
.bfweb_banner_left .banner-text-heading {
    color: #383838;
font-family: "Lexend Deca";
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0 ;
}
.bfweb_banner_left .banner-text-heading span {
    color: #3990F8;
font-family: "Lexend Deca";
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;display: block;
}
.bfweb_banner_subtitle {
    color: #383838;
font-family: "Lexend Deca";
font-size: 33px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 50px;
}
.banner---list {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    width: 100%;
    max-width: 288px;
    margin-bottom: 60px;
}
.--items {
    width: 100%;
    padding-left: 10px;
    position: relative;

}
.--items-other {
    width: 100%;
    height: 100%;
    padding: 15px 6px 15px 26px;
    color: #2A2A2A;
font-family: "Lexend Deca";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 13px;
background: linear-gradient(90deg, #529EF9 0%, rgba(57, 144, 248, 0.00) 100%);
}
.--items-other b {
    font-size: 18px;
    font-weight: 700;
}
.ic-tick {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.bfweb_banner_box {
    display: flex;
    gap: 10px 14px;
    flex-wrap: wrap;
}
.bfmail_btn {
    flex: 1;
    width: 100%;
    border-radius: 9px;
border: 2px solid #3990F8;
background: #3990F8;
padding: 10px;
color: #FFF;
font-family: "Lexend Deca";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
}
.bfmail_btn:hover{
    text-decoration: none;
    color: inherit;
}
.bfmail_btn.bfmail_btn_border{
    background: #fff;
    color: #383838;
}
@media screen and (max-width: 1600px) {
    .bfweb_banner_left .banner-text-heading {
        font-size: 36px;
    }
    .bfweb_banner_left .banner-text-heading span {
        font-size: 45px;
    }
    .bfweb_banner_subtitle {
        font-size: 28px;
    }
}
@media screen and (max-width: 1300px) {
    .bfweb_banner_left .banner-text-heading {
        font-size: 32px;
    }
    .bfweb_banner_left .banner-text-heading span {
        font-size: 40px;
    }
    .bfweb_banner_subtitle {
        font-size: 24px;
    }
    .home_banner_box .bfweb_banner_img img {
    max-width: 700px !important;
}
}
@media screen and (max-width: 1200px) {
    .home_banner_box .bfweb_banner_img img {
    max-width: 620px !important;
}
}
@media screen and (max-width: 991px) {
    .bfweb-banner{
        padding: 40px 0;
    }
    .bfweb_banner_left {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .bfweb_banner_left .banner-text-heading {
        font-size: 22px;
    }
    .bfweb_banner_left .banner-text-heading span {
        font-size: 28px;
    }
    .bfweb_banner_subtitle {
        font-size: 18px;
    }
    .home_banner_box .bfweb_banner_img {
        text-align: center;
    }
    .home_banner_box .bfweb_banner_img img {
    max-width: 100% !important;
    margin: 0 auto 30px;
    display: block;
    }
    .bfweb-banner .col-lg-6:last-child{
        /* order: -1; */
    }
    .bfmail_btn  {
        flex: none;
        font-size: 16px;
    }
}