@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
    /* font-family: "Roboto"; */
    font-weight: 400;
    color: #333;
    font-size: 14px;
    background-color: #FFF
}

.container {
    max-width: 1200px;
}

.box-banner {
    height: 178px;
    width: 100%;
    position: relative;
}

.box-banner .banner-item {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.row-title-banner {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 43px rgba(25, 0, 70, 0.004);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 18px;
}

.row-title-banner span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.row-title-banner .font-lg {
    font-size: 39px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 600;
}

.box-gp-tnn {
    padding-top: 60px;
    width: 100%;
}

.row-title {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.row-title h3 {
    font-size: 32px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 28px;
    margin-bottom: 10px;
}

.list-gp-tnn {
    width: 100%;
    float: left;
    display: flex;
    border-left: 1px solid #eaeaea;
    border-right: none;
    border-bottom: none;
    flex-wrap: wrap;
}

.item-gp-tnn {
    width: 20%;
    padding: 20px 19px 25px;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #9a9a9a;
    border-top: 1px solid #eaeaea;
}

.name-gp-tnn {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.link-name-gp-tnn {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 1.349;
    text-align: left;
    font-weight: 500;
    min-height: 48px;
    display: flex;
    align-items: center;
}

.link-name-gp-tnn img {
    margin-right: 10px;
}

.link-name-gp-tnn:hover {
    text-decoration: none;
    color: #240065;
}

.sum-gp-tnn {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
    line-height: 20px;
    text-align: left;
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px;
}

.link-view-gp-tnn {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(0, 98, 255);
    line-height: 20px;
    background: transparent url("../images/ic-view-gp.png") no-repeat center right;
    padding-right: 30px;
}

.link-view-gp-tnn:hover {
    text-decoration: none;
    color: #240065;
}

.box-ccht {
    width: 100%;
    padding-top: 65px;
}

.row-title h5 {
    font-size: 16px;
    font-weight: normal;
}

.item-ccht {
    width: 100%;
    border: 1px solid #eaeaea;
    margin-bottom: 30px;
    float: left;
    padding-right: 20px;
}

.img-ccht {
    max-width: 284px;
    width: 50%;
    float: left;
    margin-right: 30px;
}

.img-ccht a {
    width: 100%;
}

.img-ccht img {
    width: 100%;
    height: 210px;
}

.name-ccht {
    margin-top: 20px;
}

.name-ccht a {
    font-size: 20px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    font-weight: 500;
    line-height: 1.35;
    text-align: left;
}

.name-ccht a:hover {
    text-decoration: none;
    color: #240065;
}

.sum-ccht {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
    line-height: 24px;
    text-align: left;
    margin-top: 5px;
    min-height: 48px;
}

.link-view-ccht,
.link-view-all-ccht,
.link-view-cat-gp {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(0, 98, 255);
    line-height: 20px;
    background: transparent url("../images/ic-view-gp.png") no-repeat center right;
    padding-right: 30px;
    margin-top: 15px;
    float: left;
}

.link-view-all-ccht {
    float: right;
    font-weight: 500;
    margin-top: 0px;
}

.link-view-ccht:hover,
.link-view-all-ccht:hover,
.link-view-cat-gp:hover {
    text-decoration: none;
    color: #240065;
}

.box-cat-gp {
    width: 100%;
    padding-top: 65px;
}

.item-cat-gp {
    float: left;
    width: 100%;
    padding: 40px 0px;
    border-top: 1px solid #dfdfdf;
}

.left-ct-item-gp {
    width: 50%;
    float: left;
    padding-right: 0px;
}

.right-ct-item-gp {
    width: 50%;
    float: left;
    padding-left: 15px;
}

.link-gr-gp {
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 28px;
    text-align: left;
    border-radius: 3px;
    height: 28px;
    padding: 0px 10px;
    float: left;
    margin-bottom: 10px;
}

.link-gr-gp:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.bg-cat-mk {
    background-color: rgb(77, 127, 253);
}

.bg-cat-cs {
    background-color: #9675d3;
}

.bg-cat-se {
    background-color: #45ceeb;
}

.bg-cat-cl {
    background-color: #553a86;
}

.link-name-cat-gp {
    font-size: 24px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 28px;
    margin-bottom: 14px;
    text-align: left;
    float: left;
    font-weight: bold;
    width: 100%;
}

.link-name-cat-gp:hover {
    text-decoration: none;
    color: #240065;
}

.sum-item-cat-gp {
    float: left;
    width: 100%;
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 28px;
    text-align: left;
    height: 84px;
    overflow: hidden;
    margin-bottom: 20px;
}

.link-view-cat-gp {}

.title-right-ct-item-gp {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
    line-height: 18px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
    float: left;
    padding-left: 20px;
}

.list-sub-gp {
    float: left;
    width: 100%;
    display: flex;
}

.item-gp-sub:nth-child(1) {
    margin-right: 1px;
}

.item-gp-sub {
    float: left;
    padding: 18px 22px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    max-width: 49.9%;
}

.name-gp-sub {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    line-height: 22px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 7px;
}

.name-gp-sub:hover {
    text-decoration: none;
}

.sum-gp-sub {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(51, 51, 51);
    line-height: 26px;
    text-align: left;
    height: 104px;
    overflow: hidden;
    margin-bottom: 25px;
}

.link-view-gp-sub {
    width: 21px;
    height: 15px;
    text-indent: -9999px;
    background: transparent url("../images/ic-view-gp.png") no-repeat center right;
}

.box-pagi .page-item {
    margin: 0px;
}

.box-pagi .page-item a {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-family: "Roboto";
    color: #333333;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    float: left;
    padding: 0px;
}

.box-pagi .page-item a:hover {
    color: rgb(63, 221, 254);
    text-decoration: none;
}

.box-pagi .page-item .page-link {
    background-color: rgb(36, 0, 101);
    color: rgb(63, 221, 254);
}

.box-cat-gp .nav-tabs {
    border: none;
}

.box-cat-gp .nav-tabs .nav-link {
    border: none;
    color: #333333;
    font-size: 15px;
    font-family: "Roboto";
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #999999;
    border-radius: 0px;
    padding: 0px 10px;
    line-height: 18px;
}

.box-cat-gp .nav-tabs .nav-item:nth-child(1) .nav-link {
    border-left: none;
}

.box-cat-gp .nav-tabs .nav-item:nth-child(5) .nav-link {
    border-right: none;
}

.box-cat-gp .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(0, 98, 255);
}

.lbl-tab-gp {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(102, 102, 102);
    line-height: 18px;
}

.row-head-tab {
    margin-top: 23px;
}

.name-gp-t {
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

.name-gp-n {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    height: 60px;
}

.name-gp-border {
    width: 40px;
    height: 3px;
}

.bg-1 {
    background-color: rgb(255, 184, 58);
}

.bg-2 {
    background-color: rgb(254, 229, 165);
}

.bg-3 {
    background-color: rgb(77, 127, 253);
}

.bg-4 {
    background-color: rgb(63, 221, 254);
}

.sum-gp-cgp {
    height: 76px;
}

.item-gp-cgp {
    padding-bottom: 33px;
}

.link-view-gp-cgp {
    background: transparent;
    color: #2445a6;
    font-weight: 400;
}

.link-view-gp-cgp span {
    font-size: 20px;
}

.item-gp-cgplast {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(234, 234, 234);
    background-color: rgb(77, 127, 253);
    text-align: center;
    padding-top: 105px;
    display: block;
}

.item-gp-cgplast:hover {
    text-decoration: none;
    color: #fff;
}

.last-text {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.875;
    text-align: center;
    font-weight: 300;
    padding-top: 14px;
}

.box-gp-cgp {
    padding-top: 60px;
}

.sp-wrapper {
    padding: 40px 0px;
}

.sp-body-content {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.sp-wrapper img {
    max-width: 100%;
    margin: auto;
}

.sp-title {
    width: 100%;
}

.sp-title h1 {
    font-size: 26px;
}

.sp-detail-content {
    font-size: 16px;
}

.VCSortableInPreviewMode {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .item-gp-tnn {
        width: 20%;
        padding: 15px 10px;
        border-right: 1px solid #eaeaea;
    }
    .item-gp-cgplast {
        padding-top: 105px;
    }
    .link-name-gp-tnn {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .box-gp-tnn,
    .box-ccht,
    .box-cat-gp {
        padding-top: 40px;
    }
    .list-gp-tnn {
        flex-direction: column;
    }
    .item-gp-tnn {
        width: 100%;
        padding: 20px 30px;
        border-bottom: 1px solid #eaeaea;
    }
    .sum-gp-tnn {
        height: auto;
    }
    .row-head-tab {
        flex-direction: column;
    }
    .box-cat-gp .nav-tabs .nav-item:nth-child(1) .nav-link {
        padding-left: 0px;
    }
    .sum-item-cat-gp {
        height: auto;
    }
    .list-sub-gp {
        flex-direction: column;
    }
    .item-gp-sub {
        max-width: 100%;
        margin-bottom: 1px;
    }
    .sum-gp-sub {
        max-height: 88px;
        line-height: 22px;
        height: auto;
    }
    .sp-detail-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .row-title h3 {
        font-size: 24px;
    }
    .item-ccht {
        width: 100%;
        border: 1px solid #eaeaea;
        margin: auto;
        margin-bottom: 30px;
        float: none;
        padding-right: 0px;
        padding-bottom: 15px;
        max-width: 284px;
        display: flex;
        flex-direction: column;
    }
    .img-ccht {
        width: 100%;
        margin-right: 0px;
    }
    .img-ccht img {
        height: auto;
    }
    .name-ccht {
        margin-top: 10px;
        padding: 0px 15px;
    }
    .sum-ccht {
        padding: 0px 15px;
        max-height: 92px;
        overflow: hidden;
    }
    .link-view-ccht {
        max-width: 130px;
        margin-left: 15px;
    }
    .box-cat-gp .nav-tabs .nav-item {
        width: 100%;
        margin-bottom: 2px;
        border-radius: 10px;
        overflow: hidden;
    }
    .box-cat-gp .nav-tabs .nav-item:nth-child(1) .nav-link {
        padding-left: 15px;
    }
    .box-cat-gp .nav-tabs .nav-link {
        border: none;
        color: #333333;
        font-size: 15px;
        font-family: "Roboto";
        border-right: none;
        border-left: none;
        border-radius: 0px;
        padding: 10px 15px;
        line-height: 20px;
        width: 100%;
        background: #f1f1f1;
        text-transform: uppercase;
        text-align: center;
    }
    .box-cat-gp .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: rgb(0, 98, 255);
        background: #e1e1e1e;
    }
    .link-name-cat-gp {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .sum-item-cat-gp {
        font-size: 16px;
        margin-bottom: 0px;
    }
    .left-ct-item-gp,
    .right-ct-item-gp {
        width: 100%;
        padding-left: 0px;
    }
    .title-right-ct-item-gp {
        margin-top: 15px;
        padding-left: 0px;
    }
}