.home_headtop_new {
    background: #240065;
    padding: 7px 0;
    animation: MoveUp .6s;
}

.home_headtop_new .headbot_menuitem .headtop_menu li,
.home_headtop_new .headtop_menu li {
    line-height: 24px;
    padding: 0 29px;
    border-right: 1px solid #fff;
    margin: 0;
}

.home_headtop_new .headbot_menuitem .headtop_menu li:last-child,
.home_headtop_new .headtop_menu li:last-child {
    padding-right: 0;
    border-right: 0px solid #fff;
}

.home_headtop_new .headbot_menuitem .headtop_menu li:first-child,
.home_headtop_new .headtop_menu li:first-child {
    padding-left: 0;
}

.home_headtop_new .headtop_menu li a {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
}

.home_headtop_new .user_id {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.home_headtop_new .headetop_user {
    padding-left: 0;
}

.headbot_menu_last {
    margin-left: 180px;
    width: auto;
}

.home_headtop_new .user-action .act a {
    border: 0;
    border-radius: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.home_headtop_new .user-action .act a img {
    margin-right: 5px;
    margin-bottom: 5px;
}

.box_menunews_name span {
    display: block;
    padding-top: 8px;
    padding-bottom: 14px;
}

.box_menunews_name span p {
    margin-bottom: 0;
    font-family: 'SF Pro Display';
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #595959!important;
    text-transform: none!important;
}

.box_menunews_name {
    padding: 26px 0 0;
}

.box_menunews_name a {
    color: #595959!important;
    -webkit-background-clip: unset!important;
    background-clip: unset!important;
    background: transparent!important;
    -webkit-text-fill-color: unset!important;
    text-decoration: none;
}

.box_menunews_name a:hover {
    text-decoration: none;
}

.box_menunews_list a.box_menunews_item:hover .box_menunews_txt {
    text-decoration: underline;
}

.headtop_cloud {
    width: 100%;
    display: flex;
    align-items: center;
}

.headtop_cloud a {
    font-family: 'SF Pro Display';
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.headtop_hotline {
    margin-left: auto;
    font-weight: 400;
}

.back_home {
    font-weight: 600;
    align-items: center;
    color: #FFFFFF;
}

.back_home:hover {
    color: #fff
}

.back_home img {
    margin-right: 10px;
    margin-bottom: 5px;
}

.headtop_hotline img {
    margin-right: 6px;
}

.box_menunews_title span.box_menunews_sapo {
    display: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 154%;
    text-align: justify;
    color: #000000;
    border-bottom: 0;
    margin-bottom: 0;
    text-transform: none;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.box_menunews_title .box_menunews_list_only span.box_menunews_sapo {
    display: -webkit-box;
    width: 100%;
}

.home_headbot_only .headbot_menu {
    max-width: calc(100% - 150px);
}

.home_headbot_only .headbot_menu_last {
    margin-left: 40px;
}

.only-cate-solution .box_menunews_name {
    display: none;
}

.box_menunews_list_only {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 22px;
}

.box_menunews_list.box_menunews_list_only a.box_menunews_item {
    width: calc(25% - 16.5px);
    flex-wrap: wrap;
    align-items: baseline;
    padding: 8px;
    border-radius: 4px;
}

.box_menunews_list.box_menunews_list_only a.box_menunews_item:hover {
    background: #F0F4FE;
    text-decoration: none;
    color: #000000;
}

.box_menunews_list.box_menunews_list_only a.box_menunews_item:hover .box_menunews_txt {
    text-decoration: none!important;
    color: #000000!important;
}

.box_menunews.only-cate-solution:after {
    display: none
}

.box_menunews_title .box_menunews_list_only span {
    border-bottom: 0;
}

.box_menunews_list.box_menunews_list_only a.box_menunews_item .box_menunews_txt {
    padding: 0;
    margin-bottom: 5px;
}

.box_menunews_list {
    padding-bottom: 0;
}

.box_menunews_links_only {
    padding: 10px 0 20px;
}

.box_menunews_links_only .box_menunews_links {
    text-transform: uppercase;
    color: #4D7FF8;
}

a.box_menunews_links svg path {
    fill: #4D7FF8;
}

.only-cate-solution .box_menunews_links_only {
    padding-top: 24px;
    border-top: 1px solid #BFBFBF;
    text-align: right;
    margin-top: 30px
}

.only-cate-solution .box_menunews_links_only .box_menunews_links {
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
    display: inline-block;
    padding: 6px 14px;
    text-transform: none;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    color: #595959;
}

.only-cate-solution .box_menunews_links_only .box_menunews_links svg {
    display: none;
}

.headbot_menuitem a.active {
    color: #3362D7;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(208.06deg, #214499 5.05%, #3362D7 83.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.user-action .act a.link-mana-vietid {
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 14px;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    color: #333333;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
    border-radius: 8px;
}

.home_headtop_new .headtop_menu .box_info .box_info_t li {
    padding: 0;
}

.user-action .act a.box_info_fist {
    line-height: 38px;
}

@media screen and (max-width: 1200px) {
    .headbot_menu_last {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .box_menunews_name span p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 72px;
    }
}

@media screen and (max-width: 991px) {
    .ic-bf1 {
        width: 8px;
        margin-left: 3px;
    }
}

@media screen and (max-width: 820px) {
    .home_headbot_only .headbot_menu_last {
        margin-left: 5px;
    }
    .home_headbot_only .headbot_menu {
        max-width: calc(100% - 125px);
    }
    .home_headbot_only .headbot_menu_last a {
        font-size: 12px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .home_headbot_only .headbot_menu_last a {
        font-size: 11px;
    }
}

@media screen and (max-width: 767px) {
    .user-action .act a {
        border: 0;
    }
    .ic-thongbao {
        margin-right: 0!important;
    }
    .headuser .user-action .act {
        margin-left: 15px;
    }
}

@keyframes MoveDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes MoveUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}