.menuShow{display: block;height: 80px;line-height: 80px;color: #4d7ffd;float: right;display: none;font-size: 24px}
#menu ul li.mn-logo {
    background-color: #fff;
    margin: 0;
}
#menu ul li.mn-logo .logo {
    background-color: rgb(54,0,154);
    background-image: none;
    display: block;
}
#menu ul li.mn-logo .logo a {
    display: block;
    margin: 0 auto;
    width: 140px;
}
#menu ul li.mn-logo .logo a img {
    display: block;
    width: 140px;
}

.mm-listview > li:not(.mm-divider):after{left: 0}

.mobileShowImg{display: none;margin: 15px auto}

.box_cartMenu{display: none;height: 80px;line-height: 80px;float: right;margin-right: 15px}


@media (min-width: 481px) and (max-width: 767px) {
    .content-footer-hotro ul li a{width: 100%;}
    .container{width: auto}
    .menuShow{display: block;color: #FFFFFF !important;}
    .header_top,.header_bot_menu{display: none}

    .menuShowBoxMobile .header_bot_menu,.menuShowBoxMobile .header_top{display: block}
    .menuShowBoxMobile{
        position: absolute;display: none;
        right: 0;
        background-color: #FFF;
        top: 40px;
        z-index: 2;
        width: 220px;
        -webkit-box-shadow: 0 0 3px 1px #d8d8d8;
        -moz-box-shadow: 0 0 3px 1px #d8d8d8;
        box-shadow: 0 0 3px 1px #d8d8d8;

    }
    .header_l_menu li,.header_bot_menu li{
        margin: 0;display: block;width: 100%;padding: 5px 15px;
    }

    .modal-dialog{width: 90% !important;margin: 60px auto !important;}
    .main_banner{width: 100%;padding-bottom: 45%;min-height: auto;background-size: cover;}
    .mobileShowImg{display: block;width: 100%}
    .box_cartMenu{display: block}
    .main_chuyendoiso{background-color: #e4e9f0;background-image: none;min-height: auto}
    .main_quote_text{
        font-size: 25px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        line-height: normal;
    }
    .main_why_build li{width: 100%;margin: 0 0 20px 0}
    .ws_product_buildNP{display: none}
    .ws_product_build{width: 100%}
    .ws_product_init{width: 93%}
    .main_product_vtv{border: none}
    .main_product_vtv li{border: 2px solid #dedfe0;width: 100% !important;border-bottom: none}
    .main_product_vtv li:last-child{border: 2px solid #dedfe0}
    .content-footer ul li.content-footer-hotro{width: 50%}
    .content-footer ul li.content-footer-logo,
    .content-footer ul li.content-footer-hotro.content-footer-hotro-1{width: 100%;display: block}
    .content-footer{padding-bottom: 50px}
    .khampha_bizfly_box_build_li{width: 100%;margin-right: 0;margin-bottom: 20px}
    .header_bot_searh{display: none}
    .header_bot_link_reglogin{display: none}
    .header_bot_b2mrk .menuShow{color: #FFF}
    .header_bot_b2mrk .box_cartMenu a {color: #FFF}
    .header_bot_sub_cate .box_cartMenu{height: 60px;line-height: 60px}
    .header_bot_b2mrk .box_cartMenu a .ic_cart{
        filter: brightness(100);
        -webkit-filter: brightness(100);
        -moz-filter: brightness(100);
        -ms-filter: brightness(100);
        -o-filter: brightness(100);
    }
    .header_bot_b2mrk .header_bot_logo{width: 140px;float: left}
    .header_bot_logo img{width: 100%;margin: auto}
    .main_giaiphapdoanhnghiepcanco_list li{width: 100%;margin-bottom: 15px}
    .main_giaiphapdoanhnghiepcanco_list li:last-child{margin: 0}
    .gp_main_b2bmar_right{width: 100%}
    .gp_main_b2bmar_left_b_build_option{display: none}
    .gp_main_b2bmar_right_top_r{margin-top: 0}
    .gp_main_b2bmar_right_product_li{display: block}
    .gp_main_b2bmar_right_product_img{width: 100%;display: block}
    .gp_main_b2bmar_right_product_info{width: 100%;display: block;padding: 16px}
    .gp_main_b2bmar_right_product_img img{width: 100%}
    .main_gpcanthiet_title{font-size: 28px}

    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_content_left{width: 100%}
    .main_vccloud_load_balancer_b2mrk .main_vccloud_load_balancer_content_right{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_center{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_loadbalancer{width: 100%;margin: 0}
    .main_vccloud_load_balancer_content_right_box{width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_l{width: 100%}
    .gp_main_b_d_g_build_row_header{display: none}
    .gp_main_b2bmar_detail_goichitiet_build{padding: 10px}
    .rowW1,.rowW2,.rowW3,.rowW4{display: block;width: 100%;border-right: none}
    .rowW3.text-right{text-align: left}
    .gp_main_b2bmar_danhgia_post_left{width: 100%;}
    .gp_main_b2bmar_danhgia_post_right{text-align: center;width: 100%}
    .gp_main_b2bmar_danhgia_post_forrm{width: 100%}
    .gp_main_b2bmar_danhgia_left{width: 100%}
    .gp_main_b2bmar_danhgia_right{display: block;width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_r{width: 100%}
    .khampha_bizfly_box_build_left_title{padding: 20px 5px}
    .khampha_bizfly_box_build .khampha_bizfly_box_build_li .khampha_bizfly_box_build_left_title .box_title_icon{display: none !important;}
    .khampha_bizfly_box_build_left{width: 150px}
    .khampha_bizfly_box_build_right{width: calc(100% - 150px);background-size: cover}
    .img-bizfly-box ul li.img-2{width: 100% !important;margin-bottom: 20px}

    .solo_giphap_build_list li{width: 100%}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_t,
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_n{color: #000}
    .solo_giphap_build_list li:first-child{width: 100%;height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_a{height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info{position: relative;background-color: #FFF;}
    .solo_nganhnghe_build_list li{width: 50%}
    .solo_nganhnghe_build_list li:nth-child(2n){border-right: none}
    .solo_nganhnghe_build_list .solo_nganhnghe_build_list_items:hover .solo_nganhnghe_build_list_items_hover{width: 100%;height: 100%;top:auto;left: auto;box-shadow: none;}
    .solo_congcu_build_list li{width: 100%;height: auto}
    .solo_congcu_build_list_items_info{width: 100%}
    .solo_congcu_build_list_items_img{margin: 0 auto;float: none;margin-bottom: 20px}

    .header_bot_sub_cate .menuShow{height: 60px;line-height: 60px}
    .main_content_biz_blog_right{width: 100%;padding: 0}
    .main_content_biz_blog_left{width: 100%}
    .main_content_biz_blog_right_baimoi{display: block}
    .main_content_biz_blog_right_baimoi a img{width: 100%;height: auto;margin-bottom: 15px}
    .main_content_biz_blog_right_baimoi_content{width: 100%;padding-left: 0}
    .main_content_biz_blog_right_baimoi_item{width: 100%;margin-right: 0;height: auto;margin-bottom: 20px}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover{width: 150px;float: left;display: block}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover img{width: 150px;height: auto}
    .main_content_biz_blog_right_baimoi_item_title{width: calc( 100% - 160px);float: right}
    .main_content_biz_blog_right_baimoi_item_hover{width: 100%;position: relative}

    .main_content_biz_blog_right_techblog_dangkinhantin{height: auto;width: 100%;background-size: cover;padding: 20px}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap{width: 100%}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap input{width: 100%;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_dangkinhantin_text img{width: 100%}

    .main_content_biz_blog_right_techblog_kienthuccoban_item{width: 100%;margin-right: 0;margin-bottom: 20px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a img{width: 100%;height: auto}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a.main_content_biz_blog_right_techblog_kienthuccoban_item_right img{width: 100%}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right{display: block}

    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right a{display: block;float: left;}
    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right p{display: block;float: right;width: calc(100% - 100px)}
    .main_content_biz_blog_right_baimoi_list .main_content_biz_blog_right_baimoi_item .main_content_biz_blog_left_tinhay_text{display: block;float: right;width: calc( 100% - 160px)}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img{width: 100%;margin: 0;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img img{width: 100%}

    .main_content_techblog_cate .main_content_biz_blog_left{width: 100%}
    .main_content_blog_Detail_title{font-size: 18px;line-height: normal}

    .t_bold{font-size: 28px;margin-bottom: 15px}
    .t_reg{width: 100%;font-size: 18px;}
    .main_gp_email_marketing_l,.main_gp_email_marketing_r{width: 100%;margin: 0}
    .main_gp_email_marketing_l{margin-bottom: 15px}
    .main_faq_so_left{width: 100%;}
    .main_faq_so_title{font-size: 26px;}
    .main_faq_so_right{width: 100%}
    .main_faq_so_right img{width: 100%}
    .main_gp_nganhnghekhach_title{font-size: 26px}
    .main_gp_nganhnghekhach_list li{width: 100%;height: auto;margin: 0 0 20px 0}
    .btn_khamphatoanbo{width: 100%;height: auto}
    .main_gpcanthiet_build_new{width: 100%}

    .main_dangkydoanhnghiepbanhang_content_img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img_text{width: 100%}
    .main_dangkydoanhnghiepbanhang_content a.main_dangkydoanhnghiepbanhang_content_btn{width: 100%;font-size: 18px}
    .main_quytrinh_title{font-size: 20px}
    .main_quytrinh_content_dangky,.main_quytrinh_content_pheduyet,.main_quytrinh_content_dangban{width: 100%}
    .main_quytrinh_content_a_text a{padding: 0}
    .main_quytrinh_content_next{display: none}
    .main_reg_loiich_content{padding: 0}
    .main_reg_loiich_content ul li{margin-bottom: 15px;width: 50%}
    .main_reg_loiich_btn{width: 100%;height: auto;line-height: normal;padding: 5px 15px;font-size: 15px}
    .main_reg_loiich_title{font-size: 24px}

    .main_gp_bds_t_n2{width: 100%}
    .main_gp_bds_t_n2 h2, .main_gp_bds_t_n2 h3, .main_gp_bds_t_n2 h4{line-height: normal;font-size: 24px}
    .main_gpmarkt_cacgiaidap{min-height: auto}
    .main_gpmarkt_cacgiaidap_title{font-size: 24px}
    .main_gpmarkt_cacgiaidap_text{width: 100%}
    .main_gpmarkt_cacgiaidap{background-image: none !important;}

    .main_form_content{width: 100%;}
    .main_form_content iframe{width: 100% !important;}

    .modal_cart .cart-layout .cart_content .c_content .item .info{width: 100%}
    .modal_cart .cart-layout .cart_content .colum1{width: 60%}
    .modal_cart .cart-layout .cart_content .colum3{width: 40%;text-align: center}

    .gp_main_b2bmar_left{width: 100%}
    .modal_cart .cart-layout .box_emty_cart .notice{padding: 0 15px}
    #dangnhap .modal-body iframe{width: 100% !important;height: 100% !important;}

    .main_wel_thongbao{width: 100%}
    .main_wel_title{font-size: 20px;line-height: normal}
    .header_bot_logo_bizfly_home{width: 100px}
    .main_wel_list ul li{width: 100%;margin-bottom: 15px}
    .header_bot_bizfly_sp{height: auto;line-height: normal}
    .header_bot_bizfly_sp {
        height: auto;
        line-height: normal;
        padding: 12px 0;
    }
    .main_bizfly_dang_sp_form_nhap{width: 100%;margin: 40px auto}
    .main_bizfly_dang_sp_form_nhap_motangan_note,
    .main_bizfly_dang_sp_form_nhap_phanloaisp_note,
    .main_bizfly_dang_sp_form_nhap_info_note{display: none}
    .main_bizfly_dang_sp_form_nhap_price_ban {
        float: left;
        width: 100%;
        margin: 0 !important;
    }
    .main_bizfly_dang_sp_form_nhap_info{padding: 15px}
    .main_bizfly_dang_sp_form_nhap_info_goi input,.main_bizfly_dang_sp_form_nhap_info_motagoi_content textarea{width: 100%}
    .main_bizfly_sp_content_col{width: 100%;    margin: 0px 0px 20px;}
    .header_bot_link_reglogin_home{text-align: right;}
    .header_bot_logo_bizfly_home img{width: 100%}
    .header_bot_link_reglogin_acount_box_home{text-align: left}
    .main_bizfly_thiet_lap_tai_khoan_left{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right_content{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_email{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_diachi{width: 100%}

    .modal_content_dangnhap_dangki_sp_t{width: 100%}
    .modal_content_dangnhap_dangki_sp_hotline{width: 100%;padding-left: 20px}
    .main_giaiphapchodanhnghiep_b2mrk{display: none}
    .gp_main_b2bmar_left_tech{display: none}
    .modal_content_dangnhap_dangki_title{background-position: top left}
    .khampha_bizfly_box{padding-top: 20px}
    .title-khampha{font-size: 24px}
    .main_chuyendoiso_title{font-size: 24px}
    .main_chuyendoiso_note{font-size: 14px}
    .main_why_title{font-size: 24px}

    .gp_main_b2bmar_right_top_l{padding-top: 9px}
    .gp_main_b2bmar_right_top_r select{width: auto !important;}
    #popup-ttlh1 .ttlh_body{
        padding: 0 20px 40px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .content-footer-hotro ul li a{width: 100%;}
    .container{width: auto}
    .menuShow{display: block;color: #FFFFFF !important;}
    .header_top,.header_bot_menu{display: none}

    .menuShowBoxMobile .header_bot_menu,.menuShowBoxMobile .header_top{display: block}
    .menuShowBoxMobile{
        position: absolute;display: none;
        right: 0;
        background-color: #FFF;
        top: 40px;
        z-index: 2;
        width: 220px;
        -webkit-box-shadow: 0 0 3px 1px #d8d8d8;
        -moz-box-shadow: 0 0 3px 1px #d8d8d8;
        box-shadow: 0 0 3px 1px #d8d8d8;

    }
    .header_l_menu li,.header_bot_menu li{
        margin: 0;display: block;width: 100%;padding: 5px 15px;
    }

    .modal-dialog{width: 80% !important;margin: 60px auto !important;}
    #popup-ttlh1 .modal-dialog, .popup-gtntc .modal-dialog{
        width: 95% !important;
    }
    #popup-ttlh1 .ttlh_body{
        padding: 0 20px 40px;
    }
    .main_banner{width: 100%;padding-bottom: 45%;min-height: auto;background-size: cover;}
    .mobileShowImg{display: block;width: 100%}
    .box_cartMenu{display: block}
    .main_chuyendoiso{background-color: #e4e9f0;background-image: none;min-height: auto}
    .main_quote_text{
        font-size: 25px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        line-height: normal;
    }
    .main_why_build li{width: 100%;margin: 0 0 20px 0}
    .ws_product_buildNP{display: none}
    .ws_product_build{width: 100%}
    .ws_product_init{width: 93%}
    .main_product_vtv{border: none}
    .main_product_vtv li{border: 2px solid #dedfe0;width: 100% !important;border-bottom: none}
    .main_product_vtv li:last-child{border: 2px solid #dedfe0}
    .content-footer ul li.content-footer-hotro{width: 50%}
    .content-footer >ul{
        overflow: hidden;
    }
    .content-footer ul li.content-footer-logo,
    .content-footer ul li.content-footer-hotro.content-footer-hotro-1{width: 100%;display: block}
    .content-footer{padding-bottom: 50px}
    .khampha_bizfly_box_build_li{width: 100%;margin-right: 0;margin-bottom: 20px}
    .header_bot_searh{display: none}
    .header_bot_link_reglogin{display: none}
    .header_bot_b2mrk .menuShow{color: #FFF}
    .header_bot_b2mrk .box_cartMenu a {color: #FFF}
    .header_bot_sub_cate .box_cartMenu{height: 60px;line-height: 60px}
    .header_bot_b2mrk .box_cartMenu a .ic_cart{
        filter: brightness(100);
        -webkit-filter: brightness(100);
        -moz-filter: brightness(100);
        -ms-filter: brightness(100);
        -o-filter: brightness(100);
    }
    .header_bot_b2mrk .header_bot_logo{width: 140px;float: left}
    .header_bot_logo img{width: 100%;margin: auto}
    .main_giaiphapdoanhnghiepcanco_list li{width: 100%;margin-bottom: 15px}
    .main_giaiphapdoanhnghiepcanco_list li:last-child{margin: 0}
    .gp_main_b2bmar_right{width: 100%}
    .gp_main_b2bmar_left_b_build_option{display: none}
    .gp_main_b2bmar_right_top_r{margin-top: 0}
    .gp_main_b2bmar_right_product_li{display: block}
    .gp_main_b2bmar_right_product_img{width: 100%;display: block}
    .gp_main_b2bmar_right_product_info{width: 100%;display: block;padding: 16px}
    .gp_main_b2bmar_right_product_img img{width: 100%}
    .main_gpcanthiet_title{font-size: 28px}

    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_content_left{width: 100%}
    .main_vccloud_load_balancer_b2mrk .main_vccloud_load_balancer_content_right{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_center{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_loadbalancer{width: 100%;margin: 0}
    .main_vccloud_load_balancer_content_right_box{width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_l{width: 100%}
    .gp_main_b_d_g_build_row_header{display: none}
    .gp_main_b2bmar_detail_goichitiet_build{padding: 10px}
    .rowW1,.rowW2,.rowW3,.rowW4{display: block;width: 100%;border-right: none}
    .rowW3.text-right{text-align: left}
    .gp_main_b2bmar_danhgia_post_left{width: 100%;}
    .gp_main_b2bmar_danhgia_post_right{text-align: center;width: 100%}
    .gp_main_b2bmar_danhgia_post_forrm{width: 100%}
    .gp_main_b2bmar_danhgia_left{width: 100%}
    .gp_main_b2bmar_danhgia_right{display: block;width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_r{width: 100%}
    .khampha_bizfly_box_build_left_title{padding: 20px 5px}
    .khampha_bizfly_box_build .khampha_bizfly_box_build_li .khampha_bizfly_box_build_left_title .box_title_icon{display: none !important;}
    .khampha_bizfly_box_build_left{width: 150px}
    .khampha_bizfly_box_build_right{width: calc(100% - 150px);background-size: cover}
    .img-bizfly-box ul li.img-2{width: 100% !important;margin-bottom: 20px}

    .solo_giphap_build_list li{width: 100%}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_t,
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_n{color: #000}
    .solo_giphap_build_list li:first-child{width: 100%;height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_a{height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info{position: relative;background-color: #FFF;}
    .solo_nganhnghe_build_list li{width: 50%}
    .solo_nganhnghe_build_list li:nth-child(2n){border-right: none}
    .solo_nganhnghe_build_list .solo_nganhnghe_build_list_items:hover .solo_nganhnghe_build_list_items_hover{width: 100%;height: 100%;top:auto;left: auto;box-shadow: none;}
    .solo_congcu_build_list li{width: 100%;height: auto}
    .solo_congcu_build_list_items_info{width: 100%}
    .solo_congcu_build_list_items_img{margin: 0 auto;float: none;margin-bottom: 20px}

    .header_bot_sub_cate .menuShow{height: 60px;line-height: 60px}
    .main_content_biz_blog_right{width: 100%;padding: 0}
    .main_content_biz_blog_left{width: 100%}
    .main_content_biz_blog_right_baimoi{display: block}
    .main_content_biz_blog_right_baimoi a img{width: 100%;height: auto;margin-bottom: 15px}
    .main_content_biz_blog_right_baimoi_content{width: 100%;padding-left: 0}
    .main_content_biz_blog_right_baimoi_item{width: 100%;margin-right: 0;height: auto;margin-bottom: 20px}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover{width: 150px;float: left;display: block}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover img{width: 150px;height: auto}
    .main_content_biz_blog_right_baimoi_item_title{width: calc( 100% - 160px);float: right}
    .main_content_biz_blog_right_baimoi_item_hover{width: 100%;position: relative}

    .main_content_biz_blog_right_techblog_dangkinhantin{height: auto;width: 100%;background-size: cover;padding: 20px}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap{width: 100%}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap input{width: 100%;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_dangkinhantin_text img{width: 100%}

    .main_content_biz_blog_right_techblog_kienthuccoban_item{width: 100%;margin-right: 0;margin-bottom: 20px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a img{width: 100%;height: auto}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a.main_content_biz_blog_right_techblog_kienthuccoban_item_right img{width: 100%}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right{display: block}

    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right a{display: block;float: left;}
    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right p{display: block;float: right;width: calc(100% - 100px)}
    .main_content_biz_blog_right_baimoi_list .main_content_biz_blog_right_baimoi_item .main_content_biz_blog_left_tinhay_text{display: block;float: right;width: calc( 100% - 160px)}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img{width: 100%;margin: 0;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img img{width: 100%}

    .main_content_techblog_cate .main_content_biz_blog_left{width: 100%}
    .main_content_blog_Detail_title{font-size: 18px;line-height: normal}

    .t_bold{font-size: 28px;margin-bottom: 15px}
    .t_reg{width: 100%;font-size: 18px; max-width: 100% !important;}
    .main_gp_email_marketing_l,.main_gp_email_marketing_r{width: 100%;margin: 0}
    .main_gp_email_marketing_l{margin-bottom: 15px}
    .main_faq_so_left{width: 100%;}
    .main_faq_so_title{font-size: 26px;}
    .main_faq_so_right{width: 100%}
    .main_faq_so_right img{width: 100%}
    .main_gp_nganhnghekhach_title{font-size: 26px}
    .main_gp_nganhnghekhach_list li{width: 100%;height: auto;margin: 0 0 20px 0}
    .btn_khamphatoanbo{width: 100%;height: auto}
    .main_gpcanthiet_build_new{width: 100%}

    .main_dangkydoanhnghiepbanhang_content_img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img_text{width: 100%}
    .main_dangkydoanhnghiepbanhang_content a.main_dangkydoanhnghiepbanhang_content_btn{width: 100%;font-size: 18px}
    .main_quytrinh_title{font-size: 20px}
    .main_quytrinh_content_dangky,.main_quytrinh_content_pheduyet,.main_quytrinh_content_dangban{width: 100%}
    .main_quytrinh_content_a_text a{padding: 0}
    .main_quytrinh_content_next{display: none}
    .main_reg_loiich_content{padding: 0}
    .main_reg_loiich_content ul li{margin-bottom: 15px;width: 50%}
    .main_reg_loiich_btn{width: 100%;height: auto;line-height: normal;padding: 5px 15px;font-size: 15px}
    .main_reg_loiich_title{font-size: 24px}

    .main_gp_bds_t_n2{width: 100%}
    .main_gp_bds_t_n2 h2, .main_gp_bds_t_n2 h3, .main_gp_bds_t_n2 h4{line-height: normal;font-size: 24px}
    .main_gpmarkt_cacgiaidap{min-height: auto}
    .main_gpmarkt_cacgiaidap_title{font-size: 24px}
    .main_gpmarkt_cacgiaidap_text{width: 100% !important;}
    .main_gpmarkt_cacgiaidap{background-image: none !important;}

    .main_form_content{width: 100%;}
    .main_form_content iframe{width: 100% !important;}

    .modal_cart .cart-layout .cart_content .c_content .item .info{width: 100%}
    .modal_cart .cart-layout .cart_content .colum1{width: 60%}
    .modal_cart .cart-layout .cart_content .colum3{width: 40%;text-align: center}

    .gp_main_b2bmar_left{width: 100%}
    .modal_cart .cart-layout .box_emty_cart .notice{padding: 0 15px}

    #dangnhap .modal-body iframe{width: 100% !important}

    .main_wel_thongbao{width: 100%}
    .main_wel_title{font-size: 20px;line-height: normal}
    .header_bot_logo_bizfly_home{width: 100px}
    .main_wel_list ul li{width: 100%;margin-bottom: 15px}
    .header_bot_bizfly_sp{height: auto;line-height: normal}
    .header_bot_bizfly_sp {
        height: auto;
        line-height: normal;
        padding: 12px 0;
    }
    .main_bizfly_dang_sp_form_nhap{width: 100%;margin: 40px auto}
    .main_bizfly_dang_sp_form_nhap_motangan_note,
    .main_bizfly_dang_sp_form_nhap_phanloaisp_note,
    .main_bizfly_dang_sp_form_nhap_info_note{display: none}
    .main_bizfly_dang_sp_form_nhap_price_ban {
        float: left;
        width: 100%;
        margin: 0 !important;
    }
    .main_bizfly_dang_sp_form_nhap_info{padding: 15px}
    .main_bizfly_dang_sp_form_nhap_info_goi input,.main_bizfly_dang_sp_form_nhap_info_motagoi_content textarea{width: 100%}
    .main_bizfly_sp_content_col{width: 100%}
    .header_bot_link_reglogin_home{text-align: right;}
    .header_bot_logo_bizfly_home img{width: 100%}
    .header_bot_link_reglogin_acount_box_home{text-align: left}
    .main_bizfly_thiet_lap_tai_khoan_left{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right_content{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_email{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_diachi{width: 100%}

    .modal_content_dangnhap_dangki_sp_t{width: 100%}
    .modal_content_dangnhap_dangki_sp_hotline{width: 100%;padding-left: 20px}
    .main_giaiphapchodanhnghiep_b2mrk{display: none}
    .gp_main_b2bmar_left_tech{display: none}
    .modal_content_dangnhap_dangki_title{background-position: top left}
    .khampha_bizfly_box{padding-top: 20px}
    .title-khampha{font-size: 24px}
    .main_chuyendoiso_title{font-size: 24px}
    .main_chuyendoiso_note{font-size: 14px}
    .main_why_title{font-size: 24px}
    .gp_main_b2bmar_right_top_l{padding-top: 9px}
    .gp_main_b2bmar_right_top_r select{width: auto !important;}
}

@media (max-width: 320px) {
    .content-footer-hotro ul li a{width: 100%;}
    .container{width: auto}
    .menuShow{display: block;color: #FFFFFF !important;}
    .header_top,.header_bot_menu{display: none}

    .menuShowBoxMobile .header_bot_menu,.menuShowBoxMobile .header_top{display: block}
    .menuShowBoxMobile{
        position: absolute;display: none;
        right: 0;
        background-color: #FFF;
        top: 40px;
        z-index: 2;
        width: 220px;
        -webkit-box-shadow: 0 0 3px 1px #d8d8d8;
        -moz-box-shadow: 0 0 3px 1px #d8d8d8;
        box-shadow: 0 0 3px 1px #d8d8d8;

    }
    .header_l_menu li,.header_bot_menu li{
        margin: 0;display: block;width: 100%;padding: 5px 15px;
    }

    .modal-dialog{width: 90% !important;margin: 60px auto !important;}
    .main_banner{width: 100%;padding-bottom: 45%;min-height: auto;background-size: cover;}
    .mobileShowImg{display: block;width: 100%}
    .box_cartMenu{display: block}
    .main_chuyendoiso{background-color: #e4e9f0;background-image: none;min-height: auto}
    .main_quote_text{
        font-size: 25px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
        line-height: normal;
    }
    .main_why_build li{width: 100%;margin: 0 0 20px 0}
    .ws_product_buildNP{display: none}
    .ws_product_build{width: 100%}
    .ws_product_init{width: 93%}
    .main_product_vtv{border: none}
    .main_product_vtv li{border: 2px solid #dedfe0;width: 100% !important;border-bottom: none}
    .main_product_vtv li:last-child{border: 2px solid #dedfe0}
    .content-footer ul li.content-footer-hotro{width: 50%}
    .content-footer ul li.content-footer-logo,
    .content-footer ul li.content-footer-hotro.content-footer-hotro-1{width: 100%;display: block}
    .content-footer{padding-bottom: 50px}
    .khampha_bizfly_box_build_li{width: 100%;margin-right: 0;margin-bottom: 20px}
    .header_bot_searh{display: none}
    .header_bot_link_reglogin{display: none}
    .header_bot_b2mrk .menuShow{color: #FFF}
    .header_bot_b2mrk .box_cartMenu a {color: #FFF}
    .header_bot_sub_cate .box_cartMenu{height: 60px;line-height: 60px}
    .header_bot_b2mrk .box_cartMenu a .ic_cart{
        filter: brightness(100);
        -webkit-filter: brightness(100);
        -moz-filter: brightness(100);
        -ms-filter: brightness(100);
        -o-filter: brightness(100);
    }
    .header_bot_b2mrk .header_bot_logo{width: 140px;float: left}
    .header_bot_logo img{width: 100%;margin: auto}
    .main_giaiphapdoanhnghiepcanco_list li{width: 100%;margin-bottom: 15px}
    .main_giaiphapdoanhnghiepcanco_list li:last-child{margin: 0}
    .gp_main_b2bmar_right{width: 100%}
    .gp_main_b2bmar_left_b_build_option{display: none}
    .gp_main_b2bmar_right_top_r{margin-top: 0}
    .gp_main_b2bmar_right_product_li{display: block}
    .gp_main_b2bmar_right_product_img{width: 100%;display: block}
    .gp_main_b2bmar_right_product_info{width: 100%;display: block;padding: 16px}
    .gp_main_b2bmar_right_product_img img{width: 100%}
    .main_gpcanthiet_title{font-size: 28px}

    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_content_left{width: 100%}
    .main_vccloud_load_balancer_b2mrk .main_vccloud_load_balancer_content_right{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_center{width: 100%}
    .main_vccloud_load_balancer_content .main_vccloud_load_balancer_loadbalancer{width: 100%;margin: 0}
    .main_vccloud_load_balancer_content_right_box{width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_l{width: 100%}
    .gp_main_b_d_g_build_row_header{display: none}
    .gp_main_b2bmar_detail_goichitiet_build{padding: 10px}
    .rowW1,.rowW2,.rowW3,.rowW4{display: block;width: 100%;border-right: none}
    .rowW3.text-right{text-align: left}
    .gp_main_b2bmar_danhgia_post_left{width: 100%;}
    .gp_main_b2bmar_danhgia_post_right{text-align: center;width: 100%}
    .gp_main_b2bmar_danhgia_post_forrm{width: 100%}
    .gp_main_b2bmar_danhgia_left{width: 100%}
    .gp_main_b2bmar_danhgia_right{display: block;width: 100%}
    .gp_main_b2bmar_detail_1 .gp_main_b2bmar_detail_r{width: 100%}
    .khampha_bizfly_box_build_left_title{padding: 20px 5px}
    .khampha_bizfly_box_build .khampha_bizfly_box_build_li .khampha_bizfly_box_build_left_title .box_title_icon{display: none !important;}
    .khampha_bizfly_box_build_left{width: 150px}
    .khampha_bizfly_box_build_right{width: calc(100% - 150px);background-size: cover}
    .img-bizfly-box ul li.img-2{width: 100% !important;margin-bottom: 20px}

    .solo_giphap_build_list li{width: 100%}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_t,
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info .solo_giphap_build_list_item_info_n{color: #000}
    .solo_giphap_build_list li:first-child{width: 100%;height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_a{height: auto}
    .solo_giphap_build_list li:first-child .solo_giphap_build_list_item_info{position: relative;background-color: #FFF;}
    .solo_nganhnghe_build_list li{width: 50%}
    .solo_nganhnghe_build_list li:nth-child(2n){border-right: none}
    .solo_nganhnghe_build_list .solo_nganhnghe_build_list_items:hover .solo_nganhnghe_build_list_items_hover{width: 100%;height: 100%;top:auto;left: auto;box-shadow: none;}
    .solo_congcu_build_list li{width: 100%;height: auto}
    .solo_congcu_build_list_items_info{width: 100%}
    .solo_congcu_build_list_items_img{margin: 0 auto;float: none;margin-bottom: 20px}

    .header_bot_sub_cate .menuShow{height: 60px;line-height: 60px}
    .main_content_biz_blog_right{width: 100%;padding: 0}
    .main_content_biz_blog_left{width: 100%}
    .main_content_biz_blog_right_baimoi{display: block}
    .main_content_biz_blog_right_baimoi a img{width: 100%;height: auto;margin-bottom: 15px}
    .main_content_biz_blog_right_baimoi_content{width: 100%;padding-left: 0}
    .main_content_biz_blog_right_baimoi_item{width: 100%;margin-right: 0;height: auto;margin-bottom: 20px}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover{width: 150px;float: left;display: block}
    .main_content_biz_blog_right_baimoi_item a.main_content_biz_blog_right_baimoi_hover img{width: 150px;height: auto}
    .main_content_biz_blog_right_baimoi_item_title{width: calc( 100% - 160px);float: right}
    .main_content_biz_blog_right_baimoi_item_hover{width: 100%;position: relative}

    .main_content_biz_blog_right_techblog_dangkinhantin{height: auto;width: 100%;background-size: cover;padding: 20px}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap{width: 100%}
    .main_content_biz_blog_right_techblog_dangkinhantin_box_nhap input{width: 100%;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_dangkinhantin_text img{width: 100%}

    .main_content_biz_blog_right_techblog_kienthuccoban_item{width: 100%;margin-right: 0;margin-bottom: 20px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a img{width: 100%;height: auto}
    .main_content_biz_blog_right_techblog_kienthuccoban_item a.main_content_biz_blog_right_techblog_kienthuccoban_item_right img{width: 100%}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right{display: block}

    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right a{display: block;float: left;}
    .main_content_biz_blog_left_listbai .main_content_biz_blog_right_techblog_kienthuccoban_item_right p{display: block;float: right;width: calc(100% - 100px)}
    .main_content_biz_blog_right_baimoi_list .main_content_biz_blog_right_baimoi_item .main_content_biz_blog_left_tinhay_text{display: block;float: right;width: calc( 100% - 160px)}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img{width: 100%;margin: 0;margin-bottom: 15px}
    .main_content_biz_blog_right_techblog_kienthuccoban_item_right_img img{width: 100%}

    .main_content_techblog_cate .main_content_biz_blog_left{width: 100%}
    .main_content_blog_Detail_title{font-size: 18px;line-height: normal}

    .t_bold{font-size: 28px;margin-bottom: 15px}
    .t_reg{width: 100%;font-size: 18px;}
    .main_gp_email_marketing_l,.main_gp_email_marketing_r{width: 100%;margin: 0}
    .main_gp_email_marketing_l{margin-bottom: 15px}
    .main_faq_so_left{width: 100%;}
    .main_faq_so_title{font-size: 26px;}
    .main_faq_so_right{width: 100%}
    .main_faq_so_right img{width: 100%}
    .main_gp_nganhnghekhach_title{font-size: 26px}
    .main_gp_nganhnghekhach_list li{width: 100%;height: auto;margin: 0 0 20px 0}
    .btn_khamphatoanbo{width: 100%;height: auto}
    .main_gpcanthiet_build_new{width: 100%}

    .main_dangkydoanhnghiepbanhang_content_img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img img{width: 100%}
    .main_dangkydoanhnghiepbanhang_content_img_text{width: 100%}
    .main_dangkydoanhnghiepbanhang_content a.main_dangkydoanhnghiepbanhang_content_btn{width: 100%;font-size: 18px}
    .main_quytrinh_title{font-size: 20px}
    .main_quytrinh_content_dangky,.main_quytrinh_content_pheduyet,.main_quytrinh_content_dangban{width: 100%}
    .main_quytrinh_content_a_text a{padding: 0}
    .main_quytrinh_content_next{display: none}
    .main_reg_loiich_content{padding: 0}
    .main_reg_loiich_content ul li{margin-bottom: 15px;width: 50%}
    .main_reg_loiich_btn{width: 100%;height: auto;line-height: normal;padding: 5px 15px;font-size: 15px}
    .main_reg_loiich_title{font-size: 24px}

    .main_gp_bds_t_n2{width: 100%}
    .main_gp_bds_t_n2 h2, .main_gp_bds_t_n2 h3, .main_gp_bds_t_n2 h4{line-height: normal;font-size: 24px}
    .main_gpmarkt_cacgiaidap{min-height: auto}
    .main_gpmarkt_cacgiaidap_title{font-size: 24px}
    .main_gpmarkt_cacgiaidap_text{width: 100%}
    .main_gpmarkt_cacgiaidap{background-image: none !important;}

    .main_form_content{width: 100%;}
    .main_form_content iframe{width: 100% !important;}

    .modal_cart .cart-layout .cart_content .c_content .item .info{width: 100%}
    .modal_cart .cart-layout .cart_content .colum1{width: 60%}
    .modal_cart .cart-layout .cart_content .colum3{width: 40%;text-align: center}

    .gp_main_b2bmar_left{width: 100%}
    .modal_cart .cart-layout .box_emty_cart .notice{padding: 0 15px}
    #dangnhap .modal-body iframe{width: 100%;height: 100%}

    #dangnhap .modal-body iframe{width: 100% !important;height: 100% !important;}

    .main_wel_thongbao{width: 100%}
    .main_wel_title{font-size: 20px;line-height: normal}
    .header_bot_logo_bizfly_home{width: 100px}
    .main_wel_list ul li{width: 100%;margin-bottom: 15px}
    .header_bot_bizfly_sp{height: auto;line-height: normal}
    .header_bot_bizfly_sp {
        height: auto;
        line-height: normal;
        padding: 12px 0;
    }
    .main_bizfly_dang_sp_form_nhap{width: 100%;margin: 40px auto}
    .main_bizfly_dang_sp_form_nhap_motangan_note,
    .main_bizfly_dang_sp_form_nhap_phanloaisp_note,
    .main_bizfly_dang_sp_form_nhap_info_note{display: none}
    .main_bizfly_dang_sp_form_nhap_price_ban {
        float: left;
        width: 100%;
        margin: 0 !important;
    }
    .main_bizfly_dang_sp_form_nhap_info{padding: 15px}
    .main_bizfly_dang_sp_form_nhap_info_goi input,.main_bizfly_dang_sp_form_nhap_info_motagoi_content textarea{width: 100%}
    .main_bizfly_sp_content_col{width: 100%}
    .header_bot_link_reglogin_home{text-align: right;}
    .header_bot_logo_bizfly_home img{width: 100%}
    .header_bot_link_reglogin_acount_box_home{text-align: left}
    .main_bizfly_thiet_lap_tai_khoan_left{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right{width: 100%;padding: 15px}
    .main_bizfly_thiet_lap_tai_khoan_right_content{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_email{width: 100%}
    .main_bizfly_thiet_lap_tai_khoan_right_content_diachi{width: 100%}

    .modal_content_dangnhap_dangki_sp_t{width: 100%}
    .modal_content_dangnhap_dangki_sp_hotline{width: 100%;padding-left: 20px}
    .main_giaiphapchodanhnghiep_b2mrk{display: none}
    .gp_main_b2bmar_left_tech{display: none}
    .modal_content_dangnhap_dangki_title{background-position: top left}
    .khampha_bizfly_box{padding-top: 20px}
    .title-khampha{font-size: 24px}
    .main_chuyendoiso_title{font-size: 24px}
    .main_chuyendoiso_note{font-size: 14px}
    .main_why_title{font-size: 24px}
    .gp_main_b2bmar_right_top_l{padding-top: 9px}
    .gp_main_b2bmar_right_top_r select{width: auto !important;}
}