headnews_menu {
    background: transparent;
    padding: 0 0 0;
    float: left;
    width: 100%;
}

.headnews_menu_left {
    float: left;
}

.headnews_menu .navbar {
    background: transparent !important;
    padding: 0;
}

.headnews_menu .navbar-light .nav>li .navbar-toggler-icon {
    background-image: url('../images/images-menu/ic-1.png');
    width: 16px;
    height: 14px;
    margin-top: 2px;
}

.headnews_menu .navbar-light .nav>.show .navbar-toggler-icon {
    background-image: url('../images/images-menu/ic-5.png');
}

.headnews_menu .dropdown-toggle::after {
    display: inline-block;
    margin-left: 16px;
    vertical-align: 0;
    content: "";
    border: 0;
    width: 68px;
    height: 30px;
    background: transparent url('../images/images-menu/logo-head.png') no-repeat center center;
}

.headnews_menu .dropdown-toggle {
    display: flex;
    align-items: center;
}

.headnews_menu_right {
    float: right;
    padding-top: 3px;
}

.headnews_right_list {
    margin: 0;
    padding: 0;
}

.headnews_right_list li {
    list-style: none;
    margin: 0;
    padding: 0 18px;
    display: inline-block;
    position: relative;
}

.headnews_right_list li:after {
    content: '';
    width: 1px;
    display: block;
    height: 17px;
    background: #fff;
    position: absolute;
    right: -1px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.headnews_right_list li:last-child {
    padding-right: 0;
}

.headnews_right_list li:last-child:after {
    display: none;
}

.headnews_right_list li a {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    font-family: Sarabun;
}

.headnews_right_list li a:hover {
    color: #3eddfd;
}

.mega-menu-wrapper {
    padding: 0;
    border-radius: 0;
    border: 0;
    left: 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.headnews_menu_left .dropdown-menu.show {
    display: flex;
}

.dropdown-menu-child {
    width: 285px;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    border-right: 1px solid #ddd;
}

.dropdown-menu-content {
    width: calc(100% - 285px);
    padding: 13px 30px 10px 23px;
    display: none;
}

.headnews_menu_left .nav {
    margin: 0;
    padding: 0;
}

.dropdown-menu-child>li {
    list-style: none;
    margin-bottom: 10px;
}

.dropdown-menu-child>li:last-child {
    margin-bottom: 0;
}

.dropdown-menu-child li a {
    font-family: Sarabun;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    display: block;
    padding: 10px 25px 12px 20px;
}

.dropdown-menu-child li a.haschild {
    background-image: url('../images/images-menu/ic-4.png');
    background-repeat: no-repeat;
    background-position: top 14px right 14px;
}

.dropdown-menu-child li ul {
    display: none;
    padding: 13px 30px 10px 23px;
    margin: 0px;
    list-style: none;
}

.dropdown-menu-child>li>a:hover,
.dropdown-menu-child>li>a.active,
.dropdown-menu-child>li>a.keep-hover {
    background-color: #3F7EFE;
    color: #fff;
}

.dropdown-menu-child li a.haschild:hover,
.dropdown-menu-child li a.haschild.active,
.dropdown-menu-child li a.haschild.keep-hover {
    background-image: url('../images/images-menu/ic-4-1.png');
    background-color: #3F7EFE;
    color: #fff;
}

.dropdown-menu-child>li {
    list-style: none;
}

.dropdown-menu-content {}

.dropdown-menu-content>a {
    display: none;
}

.dropdown-menu-content ul {
    margin: 0;
    padding: 0;
}

.dropdown-menu-content>ul>li {
    list-style: none;
    margin-bottom: 20px;
}

.dropdown-menu-content>ul>li:last-child {
    margin-bottom: 0;
}

.dropdown-menu-content>ul>li>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: block;
    color: #000000;
}

.dropdown-menu-content>ul>li:hover>a {
    color: #4D7FF8;
}

.dropdown-menu-content>ul>li>span {
    font-size: 14px;
    line-height: 22px;
    color: #454545;
}

.mega-sub>li:hover>a {
    color: #4D7FF8;
}

.mega-sub>li>span {
    font-size: 14px;
    line-height: 22px;
    color: #454545;
}

.headnews_menu_center {
    width: 100%;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 11px 0 10px;
}

.headnews_logo {
    display: block;
    float: left;
}

.headnews_center_right {
    float: right;
}

.headnews_center_list {
    margin: 0;
    padding: 0;
}

.headnews_center_item {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
    float: left;
}

.headnews_center_item:last-child {
    margin-right: 0;
}

.headnews_center_item a {
    font-family: Sarabun;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: block;
    padding: 13px 0 10px;
    /*text-transform: uppercase;*/
}

.headnews_center_item a:hover,
.headnews_center_item:hover a {
    color: #3F7EFE;
}

.headnews_center_itemlast a.btn-hotline {
    border-radius: 50px;
    width: 188px;
    padding: 1px 6px 1px 55px;
    background: #4D7FF8 url('../images/images-menu/ic-2.png') no-repeat 6px center;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.headnews_center_itemlast a.btn-hotline span {
    font-size: 14px;
    line-height: 22px;
    display: block;
}

.headnews_menu_breadcrumb {
    float: left;
    width: 100%;
    background: #ECECEC;
    padding: 10px 0;
}

.headnews_menu_breadcrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0;
}

.headnews_menu_breadcrumb .breadcrumb-item {
    font-size: 14px;
    color: #121212;
}

.headnews_menu_breadcrumb .breadcrumb-item+breadcrumb-item {
    padding-left: 8px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '';
    display: inline-block;
    padding-right: 0;
    margin-right: 12px;
    width: 11px;
    height: 9px;
    background: transparent url('../images/images-menu/ic-3.png') no-repeat center center;
}

.breadcrumb .breadcrumb-item a {
    font-size: 14px;
    color: #666666;
}

.breadcrumb .breadcrumb-item a {
    font-size: 14px;
    color: #666666;
}

.box-head-top-menu {
    display: none;
}

.headnews_menu_top {
    padding-top: 5px;
    padding-bottom: 5px;
    background: #240066;
}

.headnews_center_itemlastcloud a.btn-hotline {
    width: 218px;
    position: relative;
    height: 52px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    border-radius: 2px;
    overflow: hidden;
    border: 0;
}

.headnews_center_itemlastcloud a.btn-hotline:before {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    background: #3FDDFE url('../images/images-menu/ic-6.png') no-repeat center center;
}

.ic-0507-1 {
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 8px;
    background: transparent url('../images/images-menu/ic-8.png') no-repeat center center;
}

.headnews_center_item a:hover .ic-0507-1,
.headnews_center_item:hover a .ic-0507-1 {
    background: transparent url('../images/images-menu/ic-7.png') no-repeat center center;
}

.headnews_center_itemlastadmicro a.btn-hotline {
    background: #FF6D00 url(../images/images-menu/ic-9.png) no-repeat 6px center;
}

.mega-sub {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% - 285px);
    overflow-x: auto;
}

.mega-sub>li {
    list-style: none;
    margin-bottom: 10px;
}

.dropdown-menu-child li .mega-sub a {
    padding: 0px;
}

.keep-hover {
    background-color: #DDDDDD;
}


/*css-menu-2107*/

.mega-menu-solution {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    z-index: 555;
    list-style: none;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.mega-menu-solution:after {
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    content: '';
    background: #EEEEEE;
}

.mega-menu-solution>li {
    padding: 0 25px;
    margin-bottom: 20px;
    width: 50%;
    text-align: left;
}

.mega-menu-solution>li>a.only {
    padding: 0;
    text-align: left;
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}

.mega-menu-solution>li span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #757575;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    font-family: Sarabun;
}

.mega-menu-solution>li>a.only:hover,
.mega-menu-solution>li:hover>a.only {
    color: #3F7EFE;
}

.headnews_center_item:hover .mega-menu-solution {
    display: flex;
    ;
}


/*footer clould*/

.footer_first {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.footer_center_item {
    padding-top: 22px;
}

.footer_center .footer_title {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 21px;
}

.footer_title_first {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-size: 16px;
    line-height: 188%;
    text-transform: uppercase;
    color: #002584;
}

.footer_center_item ul {
    padding: 0;
    margin: 0;
}

.footer_center_item ul li {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.footer_center_item li a {
    font-size: 13px;
    color: rgb(119, 119, 119);
    font-weight: 400;
    transition: 0.85s;
}

.footer_center_item li a:hover {
    color: #0056b3;
}

.ic-5 {
    width: 11px;
    height: 9px;
    display: none;
    background: transparent url(../images/ic-5.png) no-repeat center center;
    vertical-align: 0;
    margin-right: 5px;
    transition-delay: 0.85s;
}

.footer_address {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 28px;
}

.sp_item {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin-bottom: 15px;
}

.sp_item h6 {
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer_address .footer_title {
    margin-bottom: 15px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    line-height: 1.2;
}

.footer_rnews {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
}

.footer_rnews img {
    max-width: 100%;
}

.btn-rnews {
    width: 100%;
    max-width: 260px;
    background: rgb(77, 127, 253);
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.8;
    margin-top: 5px;
}

.btn-rnews:hover {
    background: #1b4ac1;
    color: #fff;
}

.first_links_title {
    font-size: 13px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 5px;
}

.footer_first_links a {
    display: inline-block;
    padding: 0 3px;
}

.address_txt {
    font-size: 13px;
    color: #000;
    line-height: 1.2;
}

.address_txt span {
    color: #777777;
}

.footer_address_bot {
    padding: 10px 0;
}

.address_bot_1 {
    float: left;
    width: 70%;
}

.address_bot_1 a {
    font-size: 13px;
    color: rgb(77, 127, 253);
    line-height: 1.2;
}

.address_bot_1 a:hover {
    text-decoration: none;
    color: #4d7ffd;
}

.address_bot_2 {
    width: 30%;
    float: left;
    text-align: right;
    font-size: 10px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
}


/*contact*/

.crm_tvtt {
    min-height: 621px;
    padding: 84px 0 10px;
    background: #f6f6f6;
    float: left;
    width: 100%;
}

.tvtt_sdttuvan {
    padding: 32px 0 0 15px;
}

.tvtt_title {
    font-size: 36px;
    font-family: "Sarabun";
    color: rgb(35, 35, 35);
    font-weight: 700;
    margin-bottom: 6px;
}

.tvtt_txt {
    font-size: 18px;
    font-family: "Sarabun";
    color: rgb(35, 35, 35);
    font-weight: 400;
    padding-left: 4px;
}

.info-contact-branding {
    float: left;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: rgb(255, 255, 255) url(https://bizflyportal.mediacdn.vn/bizflyportal/web/branding/bg-infocontact-branding.png) no-repeat right bottom;
    padding: 20px 30px 10px;
    max-width: 405px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.lbl-info-contact-branding {
    font-size: 16px;
    font-family: "Sarabun";
    color: rgb(0, 0, 0);
    line-height: 26px;
    width: 100%;
    font-weight: 500;
}

.info-contact-branding a {
    font-size: 16px;
    font-family: "Sarabun";
    color: rgb(0, 0, 0);
    line-height: 26px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 42px;
    background: transparent url(https://bizflyportal.mediacdn.vn/bizflyportal/web/branding/ic-mail-branding.png) no-repeat left center;
}

.info-contact-branding a.link-ct-phone-brading {
    background: transparent url(https://bizflyportal.mediacdn.vn/bizflyportal/web/branding/ic-phone-branding.png) no-repeat 2px center;
}

.info-contact-branding a.link-ct-face-brading {
    background: transparent url(https://bizflyportal.mediacdn.vn/bizflyportal/web/branding/ic-face-branding.png) no-repeat 5px center;
}

.box_reg {
    background: transparent;
    width: 100%;
    max-width: 405px;
    /* margin-left: 55px; */
    float: right;
    padding: 0;
}

.lbl-info-contact-branding2 {
    font-size: 20px;
    font-family: "Sarabun";
    color: rgb(0, 0, 0);
    line-height: 26px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 25px;
}

.dieukhoan_box {
    float: left;
    width: 100%;
}


/*css 13-01*/

.home_headbot {
    position: relative;
    z-index: 1031;
    /* animation: MoveUp .6s; */
}

.home_headbot.fixed-top {
    /* animation: MoveDown .6s; */
}

.home_headbot .col-lg-12 {
    position: static;
}

.headbot_menuitem:first-child {
    position: static;
}

.headbot_menuitem:hover>a {
    color: #4D7FF8;
}

.box_menunews {
    position: absolute;
    width: 100%;
    /*width: max-content;*/
    top: calc(100% - 1px);
    display: none;
    z-index: 10;
    left: 0;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.box_menunews .col-md-3 {
    padding: 30px 15px 60px;
}

.box_menunews .col-md-3:last-child {
    background: #FAFAFA;
}

.headbot_menuitem:hover .box_menunews {
    display: block;
}

.headbot_menuitem:hover .ic-bf1 {
    background: transparent url('../images/bf-new/ic-bf22.png') no-repeat center center;
}

.box_menunews_name {}

.box_menunews_name a {
    font-family: 'SF Pro Display';
    line-height: 150%!important;
    text-align: left!important;
    padding: 0!important;
    text-transform: uppercase;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #BFBFBF;
    min-height: 50px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(208.06deg, #214499 5.05%, #3362D7 83.6%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
    background-clip: text!important;
    text-fill-color: transparent; */
}

.box_menunews_txt {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%!important;
    text-align: justify!important;
    letter-spacing: -0.01em!important;
    color: #284280!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #284280;
}

.box_menunews_title {}

.img-logo-title {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    display: block;
    padding: 0!important;
    line-height: 0!important;
}

.img-logo-title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box_menunews_title span {
    display: inline-block;
    font-family: Sarabun;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
}

.box_menunews_list {
    padding: 20px 0;
    height: 100%;
    width: 100%;
    left: 100%;
    top: 0;
    background: transparent;
}

.box_menunews_list a.box_menunews_item {
    display: flex;
    padding: 10px 0;
    width: 100%;
    line-height: 150%!important;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #000000;
    align-items: center;
}

.box_menunews_list a.box_menunews_links {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    text-transform: uppercase;
    color: #4D7FF8;
}

.box_menunews_list a.box_menunews_links svg path {
    fill: #4D7FF8;
}

.box_menunews .col-md-3:last-child .box_menunews_list a.box_menunews_item {
    border-bottom: 1px solid #E8E8E8;
}

.box_menunews .col-md-3:last-child .box_menunews_list a.box_menunews_item:last-child {
    border-bottom: 1px solid transparent;
}

.box_menunews_list a.box_menunews_item .box_menunews_txt {
    line-height: 150%!important;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #000000!important;
    padding-right: 15px;
}

a:hover {
    text-decoration: none !important;
}

.box_menunews_list a.box_menunews_item:hover .box_menunews_txt {
    color: #4D7FF8!important;
}

.box_menunews_list a.box_menunews_item:hover svg path {
    fill: #4D7FF8!important;
}

.box_menunews:after {
    position: absolute;
    height: 100%;
    width: calc((100% - 1200px)/2);
    background: #FAFAFA;
    top: 0;
    right: 0;
    content: '';
    display: none;
}

.box_menunews_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: baseline;
}

.box_menunews_txt {
    font-family: 'SF Pro Display'!important;
    font-style: normal;
    font-weight: 400!important;
    font-size: 16px!important;
    line-height: 150%!important;
    color: #1E3161!important;
    text-align: left!important;
    text-transform: none!important;
    /*margin-bottom: 20px;*/
}

a.box_menunews_item:hover {
    background: transparent;
}

a.box_menunews_item:hover .box_menunews_txt {
    color: #00bcd4;
}

a.box_menunews_links {
    text-align: left;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
    color: #000000;
    padding: 0
}

a.box_menunews_links:hover {
    background: transparent;
    color: #4D7FF8;
}

a.box_menunews_links svg {
    margin-right: 15px;
}

a.box_menunews_links:hover svg path {
    fill: #4D7FF8;
}

.footer_title_weblist {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    max-width: 200px;
}

.footer_title_weblist a {
    flex-shrink: 0;
}

.footer_title_weblist img {
    max-width: 100%;
}


/* style menu ldp */

.menu--private {}

.menu--private .home_headbot_only .headbot_menu_last {
    float: right;
    margin-left: auto;
    padding: 0;
}

.menu--private .home_headbot_only .headbot_menu_last a {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #511D9A;
    color: #511D9A;
}

.menu--private .home_headbot_only .headbot_menu_last a:hover {
    background-color: #511D9A;
    color: #fff;
}


/* crm */

.menu--private .home_headbot_only .headbot_menu_last a.style-crm {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #3C4ABB;
    color: #3C4ABB;
}

.menu--private .home_headbot_only .headbot_menu_last a.style-crm:hover {
    background-color: #3C4ABB;
    color: #fff;
}


/* website */

.menu--private .home_headbot_only .headbot_menu_last a.style-website,
.menu_mbbiz a.style-website {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #541298;
    color: #541298;
}

.menu--private .home_headbot_only .headbot_menu_last a.style-website:hover {
    background-color: #541298;
    color: #fff;
}


/* mail */

.menu--private .home_headbot_only .headbot_menu_last a.style-mail {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #BE1E2D;
    color: #BE1E2D;
}

.menu--private .home_headbot_only .headbot_menu_last a.style-mail:hover {
    background-color: #BE1E2D;
    color: #fff;
}

.menu--private---content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu--private .headbot_menu {
    padding-left: 20px;
    display: flex;
    gap: 8px;
}

.menu--private .headbot_menuitem a {
    line-height: normal;
    padding: 7px 27px 7px 8px;
    font-weight: 500;
    letter-spacing: -0.48px;
    line-height: 150%;
    text-align: left !important;
}

.menu--private .headbot_menuitem a.sub_lv2 {
    background-image: url('../images/bf-new/ic-bf22-2.png');
    background-repeat: no-repeat;
    background-position: right 11px center;
}

.menu--private .headbot_menuitem>a.actvie,
.menu--private .headbot_menuitem .menu--private---list li a.actvie,
.menu--private .headbot_menuitem:hover>a {
    color: #511D9A;
    border-radius: 8px;
    background: #F5F5F5;
}

.menu--private .headbot_menuitem:hover .ic-bf1 {
    background: transparent url(../images/bf-new/ic-bf22-1.png) no-repeat center center;
}

.menu--private .headbot_menuitem {
    position: relative;
}

.menu--private .box_menunews--other {
    opacity: 0;
    visibility: hidden;
    top: calc(100% -1px);
    padding-top: 20px;
    position: absolute;
    left: 0;
}

.menu--private .box_menunews {
    min-width: 368px;
    width: max-content;
    position: relative;
    display: block;
    padding-bottom: 0;
    background: #fff;
    border-radius: 0 0 8px 8px;
}

.menu--private .headbot_menuitem:hover .box_menunews--other {
    opacity: 1;
    visibility: visible;
}

.menu--private .headbot_logo {
    height: 54px;
}

.menu--private .home_headbot {
    padding: 13px 0;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
}

.menu--private---list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    padding: 24px 0;
    /* position: relative; */
}

.list--menu---sub2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - 7px);
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0 0 8px 0;
    z-index: 3;
    background-color: #fff;
}

.menu--private---list li {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 24px;
}

.menu--private---list li:last-child {
    margin-bottom: 0;
}

.menu--private---list li a {
    width: 100%;
    display: flex;
    padding: 8px;
    gap: 16px;
    align-items: center;
}

.menu--private---list li a:hover,
.menu--private---list li:hover>a {
    color: #511D9A;
    border-radius: var(--Card-radius-default, 8px);
    background: rgba(0, 0, 0, 0.05);
}

.menu--private---list li a span {
    flex-shrink: 0;
    height: 24px;
}

.menu--private .home_headtop_new.style-ai {
    background: linear-gradient(90deg, #A75EB5 0%, #511D9A 100%);
}

.menu--private .home_headtop_new.style-crm {
    background: linear-gradient(90deg, #4D7FF8 0%, #1E2097 100%);
}

.menu--private .home_headtop_new.style-website {
    background: linear-gradient(90deg, #C43DC2 0%, #8213DE 100%);
}

.menu--private .home_headtop_new.style-mail {
    background: linear-gradient(90deg, #D95763 0%, #BE1E2D 100%);
}

@media screen and (max-width: 1200px) {
    .menu--private .box_menunews--other {
        min-width: 398px;
    }
}


/* endstyle */

.rotateimg {
    animation: rotateimg 1.2s infinite ease-in-out;
}

@keyframes rotateimg {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    100%,
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}